
<div ng-hide="isClient">
<form name="addproject">
	
		Project name: <input type="text" ng-model="addproject.name" name="projectname" required>
			<span class="error" ng-show="addproject.projectname.$error.required">Project Name is required.<br></span>

		Description: <input type="text" ng-model="addproject.description" name="description" required>
		<br/>

	<button ng-click="doAddProject()">Submit</button>
</form>
</div>

<div ng-hide="isContractor">
	<form name="linkproject">
		Project ID: <input type="text" ng-model="linkproject.pid" name="processID" required>
		<button ng-click="doLinkProject()">Submit</button>

	</form>
</div>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>




