<form name="createPunchForm">
	Name: <input type="text" ng-model="punch.name" name="punchName" required>
	<span class="error" ng-show="myForm.userName.$error.requied"> Required!</span><br>
	Description: <textarea ng-model="punch.description" name="punchDesc"></textarea>
	<span class="error" ng-show="myForm.userName.$error.required">Required!</span><br>
	<div class="priority" ng-show="isClient">
		Priority: <rating value="punch.priority" max="10"></rating>
	</div>
	<div class="date" ng-hide="isClient">
		Date: <input type="datetime" date-time ng-model="punch.date" view="date" min-view="date">
	</div>
	<button ng-click="create()">Create</button>
</form>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>