<div ng-controller="Homepage" class="homepage">
  <div class="hero center">
		<div class="header">
  			<h1>Punch List</h1>
  			<h3>Mobile focused Construction management</h3>
  			<a ng-click="goProjects()" class="button">START YOUR LIST TODAY</a>
  		</div>
  </div>
  <div id="info-container" class="blue-background">
  	<div class="center">
  		<div class="row">
  			<div class="column small-12 large-4">
  				<img style="width: 200px; margin-left: auto; margin-right: auto;" src="./img/check.png">
  				<h3> What is Punch List?</h3>
  				<div> A Punch List is a checklist that is used by general contractors to make sure they have covered all of their bases before completing the project</div>
  			</div>
  			<div class="column small-12 large-4">
  				<img style="width: 200px; margin-left: auto; margin-right: auto;" src="./img/gear.png">
  				<h3> Expand your business</h3>
  				<div> Looking for more exposure for your company? Needing to enhance communication with your customers? If so, Punch List is for you!
  				</div>

  			</div>
  			<div class="column small-12 large-4">
  			  	<img style="width: 250px; margin-left: auto; margin-right: auto;" src="./img/cloud.png">

  				<h3> Our Promise</h3>
  				<div>Punch List is dedicated to helping you build relationships with your customers, as well as, create a fun and interactive way to complete projects
  				</div>
  			</div>
  		</div>
  		<br/>
  	</div>
  </div>

  <div class="full-container white-shadow">
  <div class="center">
  	<h1 class="blue-font center-font">WHO WE ARE</h1>
  	<h5 class="center-font">
  	At Punch List, we believe that building relationships is the heart of business. That is why, with our web and mobile app, you can stay connected with your customers throughout the entire life of the project. Punch List puts you in the driver seat in managing your projects and your customers expectations by allowing them to see from a high-level what activities have been completed and what activities are next. 
  	</h5>
  	<div class="row">
  			<div class="column small-12 large-4">
  				<img src="./img/cons1.jpg">
  			</div>
  			<div class="column small-12 large-4">
  				<img src="./img/cons2.jpg">

  			</div>
  			<div class="column small-12 large-4">
  				<img src="./img/cons3.jpg">

  			</div>
  		</div>
  </div>
</div>