<h1>HomePage</h1>

<div ng-controller="Homepage">
  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>

	<form name="loginForm">
		User name: <input type="text" ng-model="user.name" name="userName" required>
			<span class="error" ng-show="myForm.userName.$error.required">
      Required!</span><br >
		Password: <input type="password"  ng-model="user.password" name="userPassword" required>
			<span class="error" ng-show="myForm.userPassword.$error.required">
      Required!</span><br >
		<button ng-click="doLogin()">Login</button>

	</form>

  <accordion close-others="oneAtATime">
    <accordion-group heading="Static Header, initially expanded" is-open="true">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="button small" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="isopen">
        <accordion-heading>
            I can have markup, too! <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
</div>