<div class="punch-details">
	<div class="info">
		<img ng-src="uploads/images/{{punch.image}}">
		Name: <span>{{punch.title}}</span><br>
		Priority: <span>{{punch.wishPriority}}</span><br>
		Date: <span>{{punch.date|date:'MMM d yyyy'}}</span><br>
		<div ng-show="isClient">
			Completed: <span>{{punch.completed}}</span>
		</div>
		<label ng-hide="isClient">
			Completed: <input type="checkbox" ng-model="punch.completed" ng-change="edit()">
		</label>
		<div ng-hide="isClient">
			Confirmed: <span>{{punch.confirmed}}</span>
		</div>
		<label ng-show="isClient">
			Confirmed: <input type="checkbox" ng-model="punch.confirmed" ng-change="edit()">
		</label>
		Description: <p>{{punch.description}}</p>
	</div>
</div>
<div class="comments">
	<ul class="comments-list">
		<li ng-repeat="comment in comments" class="comment">
			User: <span>{{comment.username}}</span>
			Date: <span>{{comment.date|date:"MMM d yyyy"}}</span>
			<p>{{comment.description}}</p>
		</li>
	</ul>
	<form name="createPunchForm">
		Comment: <textarea ng-model="newComment.description" name="commentDesc"></textarea>
		<button ng-click="addComment()">Add</button>
	</form>
</div>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>