
<div class="row">
	<div class="well">
		<h4>Upload some files</h4>
		<p class="lead">
		<form role="form">
			<div class="row">
				<div class="form-group col-xs-2">
					<!--<label for="subdir">Subdir (optional)</label>-->
					<!--<select id="subdir" class="form-control">-->
						<!--<option>images</option>-->
						<!--<option>document</option>-->
						<!--<option>music</option>-->
					<!--</select>-->
				</div>
				<div class="form-group col-xs-7">
					<label for="comments">Comments (optional)</label>
					<input type="text" class="form-control" id="comments" placeholder="Enter comment">
				</div>
				<div class="form-group col-xs-1">
					<!--<label for="unique">Unique Filename</label>-->
					<!--<input type="checkbox" class="form-control" id="uniqueFilename">-->
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="exampleInputFile">File input</label>
					<!--<input type="file" id="exampleInputFile" ng-change="setFiles(this)" multiple>-->
					<input type="file" multiple="multiple" data-dbinf-on-files-selected="setFiles(selectedFileList)">
				</div>
			</div>
			<button type="button" class="btn btn-success" ng-click="uploadFiles()">Submit</button>
		</form>
		</div>
	<div class="alert alert-success"></div>
	<div class="row marketing">
		<!--<table class="table table-condensed table-striped" id="result">-->
			<!--<tr>-->
				<!--<th>Filename</th>-->
				<!--<th>Sub Directory</th>-->
				<!--<th>Comments</th>-->
				<!--<th>Size</th>-->
				<!--<th>Original Filename</th>-->
				<!--<th>Creation Date</th>-->
				<!--<th>Actions</th>-->
			<!--</tr>-->
		<!--</table>-->
		<div ng-repeat="cfile in currentfiles">
			{{cfile.filename}}
			<button class="btn btn-default btn-sm" ng-click="deleteFile($index)">Delete</button><br />
		</div>
	</div>
</div>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>