html, body {
  height: 100%;
  width: 100%; }

body {
  background-image: url('../img/tools.jpeg');
  background-size: cover;
  background-attachment: fixed; }

#header-logo {
  height: 44px;
  width: 100px; }

.center-font {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.center {
  max-width: 64em;
  margin: auto; }
  .center img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px; }

.blue-font {
  color: #42C5BE; }

.white-shadow {
  background: #fff;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 60px;
  padding: 20px; }

.blue-background {
  background: #42C5BE;
  padding-top: 40px;
  padding-bottom: 60px;
  color: #fff; }

.full-container {
  width: 100%;
  padding: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 80px;
  margin-bottom: 0px;
  text-align: center; }

.project-row {
  background: #eee;
  border: 1px #aaa solid;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer; }

.homepage h1 {
  margin-top: 20px;
  margin-bottom: 20px; }
.homepage h3 {
  text-align: center; }
.homepage .hero {
  text-align: center;
  width: 50%;
  margin: 60px auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5em 1.5em; }
  .homepage .hero h1 {
    color: white; }
  .homepage .hero h3 {
    color: white; }
  .homepage .hero a.button {
    background: none;
    width: 100%;
    border: 2px solid white;
    font-size: 1.25em; }

.project {
  padding-top: 40px; }
  .project .project-info {
    padding: 0.5em;
    background-color: white;
    margin-bottom: 20px; }
    .project .project-info p {
      padding-left: 10px; }
  .project .project-data {
    background-color: white;
    position: relative; }
    .project .project-data .tabs dd {
      width: 50%;
      text-align: center; }
    .project .project-data .wish-list {
      position: absolute;
      top: 60px;
      left: 0;
      width: 200px;
      z-index: 2;
      padding: 0 0.5em; }
      .project .project-data .wish-list ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .project .project-data .wish-list ul li {
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          border-left: 4px solid rgba(0, 0, 0, 0.2);
          padding: 0.3em;
          margin-bottom: 10px; }
    .project .project-data .time-line {
      padding-left: 220px; }
      .project .project-data .time-line ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        position: relative; }
        .project .project-data .time-line ul::after {
          content: '';
          position: absolute;
          background-color: black;
          width: 1px;
          left: 50%;
          top: -20px;
          bottom: -20px; }
        .project .project-data .time-line ul li {
          overflow: hidden;
          padding: 20px 0; }
          .project .project-data .time-line ul li .info {
            border: 1px solid black;
            width: 49%;
            margin-right: 2%;
            float: left;
            padding: 0.5em;
            cursor: pointer; }
          .project .project-data .time-line ul li .date {
            width: 25%;
            float: left; }

.punch-details label {
  font-size: 1rem;
  line-height: 1.3rem;
  height: 1.3rem;
  color: black; }
.punch-details .info {
  overflow: hidden; }
  .punch-details .info img {
    width: 200px;
    float: left;
    margin-right: 20px; }
  .punch-details .info input[type="text"], .punch-details .info input[type="number"], .punch-details .info input[type="datetime"] {
    width: 300px; }
  .punch-details .info textarea {
    width: 500px; }

.comments {
  margin-top: 10px; }
  .comments .comments-list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .comments .comments-list li {
      margin-bottom: 10px;
      border-bottom: 1px solid black; }
      .comments .comments-list li p {
        margin-bottom: 0; }
